In [ ]:
import yaml
import pyodbc
import pandas as pd
from jinja2 import Template
import numpy as np
import os

In [2]:

path = "C:/Users/diegrica/OneDrive - colsubsidio.com/Documents/DARC/MELI/NOTEBOOKS/"
ruta_yml = os.path.join(path, "config.yml")
with open(ruta_yml, "r") as f:
    config = yaml.safe_load(f)

params = config["parametros"]

Leer el archivo .sql como código Python y extraer el string

In [3]:

namespace = {}
ruta_sql = os.path.join(path, "query_challenge.sql")
with open(ruta_sql, "r", encoding="utf-8") as f:
    exec(f.read(), namespace)

Cargar el query

In [4]:

query_prints_str = namespace["query_prints"]

Renderizar el query .sql

In [5]:

query_prints_ren = Template(query_prints_str).render(**params)

Conexión a SQL Server

In [6]:

with pyodbc.connect(
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=BOGAL06DIEGRICA;'
    r'DATABASE=Challenge;'
    r'Trusted_Connection=yes;'
) as conn:
    prints = pd.read_sql(query_prints_ren, conn)

C:\Users\diegrica\AppData\Local\Temp\ipykernel_14040\78847550.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  prints = pd.read_sql(query_prints_ren, conn)

In [7]:
prints

,user_id,event_data_value_prop,click,cantidad_impresiones,cantidad_clicks,cantidad_pagos,total_pago
0,4906,credits_consumer,0,0,0,1,19.41
1,95437,cellphone_recharge,0,0,0,2,37.30
2,23019,send_money,0,0,0,2,60.46
3,67831,cellphone_recharge,0,1,1,1,7.73
4,20554,point,0,0,0,1,0.63
...,...,...,...,...,...,...,...
117992,83302,link_cobro,0,0,0,0,0.00
117993,60240,cellphone_recharge,1,0,0,0,0.00
117994,43837,send_money,0,1,0,0,0.00
117995,38329,transport,0,0,0,0,0.00
117996,88102,point,0,1,0,0,0.00

Exportar el resultado a la carpeta destino

In [ ]:
path_salida = "C:/Users/diegrica/OneDrive - colsubsidio.com/Documents/DARC/MELI/SALIDA/"
prints.to_csv(path_salida +"PRINTS_MODELO.csv", index= False, encoding= 'utf-8', sep = ';')